.image-preview {
    width: 150px;
    max-width: 100%;
    height: 150px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.image-preview h3 {
    font-size: 1rem;
}